<footer class="bg-gray-800 text-white py-6 mt-auto">
    <div class="container mx-auto text-center sm:text-left sm:flex sm:justify-between">
      <div class="mb-4 sm:mb-0">
        <h2 class="text-lg font-bold mb-3 text-white tracking-tight">
          Conéctate con nosotros
        </h2>
        <p>Siempre estamos aquí para ayudarte. Si tienes alguna pregunta o
          necesitas soporte, no dudes en contactarnos.</p>
      </div>
      <div>
        <div class="social-links flex justify-center space-x-4 sm:justify-center mb-4 sm:mb-0">
          <a href="https://www.facebook.com" target="_blank" class="flex items-center">
            <img src="/images/social/facebook-icon.png" alt="Facebook" class="w-6 h-6">
          </a>
          <a href="https://www.twitter.com" target="_blank" class="flex items-center">
            <img src="/images/social/twitter-icon.png" alt="Twitter" class="w-6 h-6">
          </a>
          <a href="https://www.instagram.com" target="_blank" class="flex items-center">
            <img src="/images/social/instagram-icon.png" alt="Instagram" class="w-6 h-6">
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="flex items-center">
            <img src="/images/social/linkedin-icon.png" alt="LinkedIn" class="w-6 h-6">
          </a>
        </div>
        <div class="footer-bottom text-sm text-gray-400 border-t sm:border-none border-gray-600 pt-2 text-center sm:text-left">
          <p>&copy; 2024 SolidarianID. Todos los derechos reservados.</p>
          <p>
            <a href="#" class="text-blue-400 hover:underline">Política de privacidad</a> |
            <a href="#" class="text-blue-400 hover:underline">Términos de uso</a>
          </p>
        </div>
      </div>
    </div>
</footer>
