<header class="bg-white shadow-xl py-4">
    <div class="mx-auto flex items-center justify-between px-4 sm:px-6">
      <!-- Logo / Botón Hamburguesa -->
      <div>
        <img id="menuToggle" src="/images/logo.png" alt="Logo"
          class="w-20 h-10 sm:w-24 sm:h-12 md:w-32 md:h-16 object-cover rounded-lg cursor-pointer sm:cursor-default sm:pointer-events-none">
      </div>

      <!-- Título -->
      <div class="flex-1 text-center px-4 sm:px-6">
        <h1 class="text-lg sm:text-xl md:text-4xl lg:text-5xl font-extrabold text-gray-900">
          SolidarianID
        </h1>
      </div>

      <!-- Usuario -->
      <div class="text-xs sm:text-sm text-gray-700 whitespace-nowrap">
        <span class="font-semibold">Administrador</span>
      </div>
    </div>
  </header>