<div class="bg-white shadow-md rounded p-4">
  <!-- Contenido de estadísticas -->
  <div class="grid grid-cols-2 gap-4">
    <!-- Gráfica 1 -->
    <div class="border p-4 rounded shadow-md flex items-center justify-center">
      <div>
        <h3 class="text-center font-bold mb-2">Comunidades y Causas por ODS</h3>
        <canvas id="chart1" class="max-w-md h-96"></canvas>
      </div>
    </div>
    <!-- Gráfica 2 -->
    <div class="border p-4 rounded shadow-md flex items-center justify-center">
      <div>
        <h3 class="text-center font-bold mb-2">Apoyos por ODS</h3>
        <canvas id="chart2" class="max-w-md h-96"></canvas>
      </div>
    </div>
    <!-- Gráfica 3 -->
    <div class="border p-4 rounded shadow-md flex items-center justify-center">
      <div>
        <h3 class="text-center font-bold mb-2">Apoyos por Comunidad</h3>
        <canvas id="chart3" class="max-w-md h-96"></canvas>
      </div>
    </div>
    <!-- Gráfica 4 -->
    <div class="border p-4 rounded shadow-md flex items-center justify-center">
      <div>
        <h3 class="text-center font-bold mb-2">Progreso de Acciones</h3>
        <canvas id="chart4" class="max-w-md h-96"></canvas>
      </div>
    </div>
  </div>
</div>